---
import Layout from '../layouts/Layout.astro';
---

<Layout title='NUTN- Kontakt'>
    <h1 class="py-2 mt-4 text-2xl text-gray-800 font-bold">Kontakt meg!</h1>
    <p class="mt-4">Dersom du ønsker å komme i kontakt med meg så bruk gjerne dokumentet under linken!</p>

    <a class="mt-4 text-blue-800 underline" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAZAAOSY3qVUNjBFWkZaWVJDWjlYR0RWQU1JV042UkQ1Qi4u">Her er en link til Microsoft Forms</a>
</Layout>