---
import Layout from '../layouts/Layout.astro';
---

<Layout title='NUTN - Om siden'>
    <div class="col-span-3 md:col-span-2 dark:text-gray-300 flex flex-col gap-2.5 max-w-xl">
        <h1 class="py-2 mt-4 text-2xl text-gray-800 dark:text-gray-200 font-bold">Om siden</h1>
        <p>
            Dette nettstedet har blitt utviklet i sammenheng med studiene mine. Ofte har jeg opplevd utfordringer med å navigere blant alle programmene som NTNU benytter seg av – alt fra Blackboard og Innsida til Studentweb og flere. NTNU hadde ikke en oversiktlig plattform som kunne gi en helhetlig oversikt over disse programmene. Vel, faktisk har de Innsida, men problemet er at man må logge inn, og det er ofte både tregt og uklart hvor man ender opp.
        </p>
        <p>
            Derfor bestemte jeg meg for å lage dette nettstedet som et alternativ. Jeg har selv brukt det i godt over ett år før jeg bestemte meg for å dele det på nettet, slik at det kan være tilgjengelig for alle. Jeg håper virkelig at dette nettstedet vil være til nytte!
        </p>
        <p>
            Forresten, noen har spurt om hvordan jeg utaler navnet på nettsiden, jeg har kalt det N-UTEN, men hey! Kall det det du vil!
        </p>

        <h3 class="py-2 mt-4 text-xl text-gray-800 dark:text-gray-200 font-semibold">Teck-stack</h3>
        <p>
            Det er helt sikkert noen som lurer på hvilke teknologier som jeg brukte til å lage siden, hensikten med siden var at den skulle være kjapp å laste inn å få brukt, helst lages statisk (da jeg ikke har planer om å endre den så mye) og i tillegg så ønsket jeg noe interaktivitet, men helst ikke på bekostning av innlastningstiden, på bakgrunn av dette valgte jeg følgende tech-stack:
        </p>
        <ul class="list-inside list-disc ml-4">
            <p class="my-1"><span class="font-semibold">Astro.build</span> brukte jeg som til å lage selve nettsiden</p>
            <p class="my-1"><span class="font-semibold">Solid.js</span> ble brukt til å legge inn interaktivitet. Jeg brukte den intergarsjonen som er med Astro.build</p>
            <p class="my-1">Jeg hoster den med <span class="font-semibold">Github Pages</span> på min egne private bruker</p>
        </ul>
        <p>Elsket å jobbe med denne teck-stacken, så den kan anbefales for lignende sider!</p>
    </div>
</Layout>