---
import Layout from '../layouts/Layout.astro';
---

<Layout title='NUTN - Om siden'>
    <section class="grid grid-cols-3 gap-6">
        <div class="col-span-3 md:col-span-2 dark:text-gray-300">
            <h1 class="py-2 mt-4 text-2xl text-gray-800 dark:text-gray-200 font-bold">Om siden</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam hic est harum optio, pariatur ad magnam dolorem itaque ducimus, obcaecati quasi sint maxime, ipsam illum aperiam nihil facilis molestias consequatur unde nostrum beatae quaerat animi veritatis! Molestias, deleniti, laborum soluta veniam iure corrupti ea adipisci odit reiciendis pariatur expedita quasi?</p>

            <h3 class="py-2 mt-4 text-xl text-gray-800 dark:text-gray-200 font-semibold">Hvorfor lage denne siden?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sapiente laboriosam quis repellendus officiis, animi incidunt velit natus quam eius ab assumenda mollitia distinctio. Commodi ipsa qui natus corporis autem.</p>

            <h3 class="py-2 mt-4 text-xl text-gray-800 dark:text-gray-200 font-semibold">Støtte</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, perferendis ad? Beatae ipsa quis tenetur ipsam repellat, vitae perferendis aut. Ipsam esse rerum deleniti magnam eum eveniet, quae quasi</p>
            <ul class="list-disc ml-5">
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae temporibus doloribus ea ipsum</li>
            </ul>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut officia quia sapiente cupiditate, temporibus sit. Amet tempora hic aperiam odio cupiditate exercitationem doloribus minima deserunt!</p>

            <h3 class="py-2 mt-4 text-xl text-gray-800 dark:text-gray-200 font-semibold">Teck-stack</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos id, reprehenderit blanditiis sunt dolor architecto, repudiandae fugiat quibusdam expedita suscipit natus illo praesentium exercitationem? Eligendi quo voluptate nulla animi assumenda! Molestiae laboriosam numquam odit! Reiciendis fuga sunt, quaerat voluptatem natus architecto fugiat pariatur hic! Unde cupiditate ad minima dolor expedita vitae voluptatem animi? Reiciendis eos provident officiis ex rem hic?</p>
        </div>
    </section>
</Layout>