<footer class="
    bg-gray-100 py-10 mt-5 p-4
    dark:bg-gray-900 dark:border-t-2 dark:border-gray-800
">
    <div class="container mx-auto text-gray-600 dark:text-gray-400">    
        <p class="italic text-sm">Laget med ❤ av Kasper Hoel</p>
        <p class="italic text-sm">Takk til alle som har komemt med forbedringsforslag</p>

        <p class="italic text-sm text-gray-900 dark:text-gray-200">Har du forslag til forbedrtinger eller feilmeldinger? <a class="underline" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAZAAOSY3qVUNjBFWkZaWVJDWjlYR0RWQU1JV042UkQ1Qi4u">Kontakt meg her (Microsoft Forms)!</a></p>
    </div>
</footer>