---
import DarkLightToggle from "./../icons/brightness-contrast.svg?raw";

---

<a href="#main-content" class="
    bg-gray-200 py-2 px-4 rounded-lg font-semibold text-gray-800 absolute
    -top-72 focus:top-4 left-4 z-10
">Hopp til innholdet</a>

<header class="
    flex justify-between items-center
    mx-auto container
    p-4
">
    <div class="flex gap-8 items-center relative">
        <a href="/nutn/">
            <p class="font-extrabold text-3xl text-blue-700 dark:text-blue-500">NUTN</p>
            <p class="text-sm italic text-gray-800 dark:text-gray-200">Naviger Uten Tull Nå</p>
        </a>
    </div>
</header>